{% extends "base_generic.html" %}

{% block content %}

  <body>

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">{{ department }} {{ number }}</h1>
        {% for teacher in teachers %}
        <p>Instructor: <a href="#">{{ teacher.full_name }}</a></p> 
        {% endfor %}
        <p>
          <a href="/" class="btn btn-primary">Go to message feed</a>
        </p>
      </div>
    </section>

    <div class="album text-muted">
      <div class="container">
        <div class="row">
          {% for student in students %}
          <div class="card">
              {% load static %}   
              <img src="{% static student.profile_picture.url  %}" alt="pic1">
            <p class="card-text">{{ student.full_name }}  {{ student.profile_picture }}</p>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>

{% endblock %} 