{% extends "base_generic.html" %}

{% block content %}

{% load static %}
  <link rel="stylesheet" href="{% static 'css/classpage.css' %}">
  <body>

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">{{ department }} {{ number }}</h1>
        {% for teacher in teachers %}
        <p>Instructor: <a href="#">{{ teacher.full_name }}</a></p> 
        {% endfor %}
        <div class="col-md-12">
          <div class="form-group border border-dark">
        <form action="{% url 'register_section_current' number %}" method="POST">
          {% csrf_token %}
          <input type="submit" class="btn btn-primary" value="Add as Current Class">
        </form>
      </div>
    </div>
      </div>
    </section>

    <div class="album text-muted">
      <div class="container">
        <div class="row">
          {% for student in students %}
          <div class="card">
              <img src="{% static student.profile_picture.url  %}" alt="pic1">
            <p class="card-text"><a href="{% url 'friendprofile' student.id %}">{{ student.full_name }}</a>, Class of {{ student.grad_year }}</p>
            
          </div>
          {% endfor %}
        </div>

      </div>
    </div>

{% endblock %} 