{% extends "base_generic.html" %}

{% block content %}
<form class="navbar-search" action="{% url 'class_search' %}" method="post">
    {% csrf_token %}
    <input  name="class_search" type="text" class="search-query full" placeholder="Add Classes">
    <input type="hidden" name="redirect" value="{% url 'class_search' %}" formmethod="post">
</form>
{% if add_class_form %}
<form action="{% url 'class_search' %}" method="post">
    {% csrf_token %}
    {{ add_class_form }}
    <button type="submit" class="btn btn-primary">Add Classes!</button>
</form>
{% endif %}


{% endblock %}