{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="col-md-3">
	<div class="row no-margin">
		<form class="navbar-search">
			<input type="text" class="search-query full" placeholder="Add Classes">
		</form>
	</div>
	<h1>Your Courses</h1>
	{% if section_list %}
	<div class="row">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" href="#current_class_dropdown" role="button" aria-expanded="true" aria-controls="collapseExample" class="panel-title">
						<p class="panel-title">
							Current Classes
						</p>
					</a>
				</div>
				<div id="current_class_dropdown" class="collapse in" style="overflow:hidden">
					{% for section in section_list %}
					<li class="list-group-item">
						<a href="{% url 'class' section.pk %}" class="btn btn-info class_btn" role="button">
							{{ section.course.department }} {{ section.course.number }}
						</a>
					</li>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	{% if past_section_list %}
	<div class="row">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" href="#past_class_dropdown" role="button" aria-expanded="true" aria-controls="collapseExample" class="panel-title">
						<p class="panel-title">
							Past Classes
						</p>
					</a>
				</div>
				<div id="past_class_dropdown" class="collapse in" style="overflow:hidden">
					{% for section in past_section_list %}
					<li class="list-group-item">
						<a href="{% url 'class' section.pk %}" class="btn btn-info class_btn" role="button">
							{{ section.course.department }} {{ section.course.number }}
						</a>
					</li>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>

<div class="col-md-6">

	<div class="form-group border border-dark">
		<form id="post_form" action="" method="post">
			{% csrf_token %}
			<label for="PostArea">New Post</label>
			<textarea name="post_text" form="post_form" class="form-control" id="new_post" rows="3"></textarea>
			<div class="input-group">
				<div class="input-group-btn">
					<select name="class_name" class="form-control" id="class_select">
						{% if section_list %}
						{% for section in section_list %}
						<option>{{ section.course.department }} {{ section.course.number }}</option>
						{% endfor %}
						{% else %}
						<option>Add some classes before you post!</option>
						{% endif %}
					</select>
					<input type="submit" class="btn btn-primary" id="post_button">Post!</input>
				</div>
			</div>
		</form>
	</div>
	{% if posts %}
	{% for post in posts %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a href="{% url 'friendprofile' post.poster.pk %}">
					{{ post.poster.full_name }}
				</a>
			</h3>
		</div>
		<div class="panel-body">
			{{ post.content }}
		</div>
		<div class="panel-footer">
			<a href="{% url 'class' post.section.pk %}">
				{{ post.section.course.department }} {{ post.section.course.number }}
			</a>
		</div>
	</div>
	{% endfor %}
	{% endif %}
</div>
<div class="col-md-3">
	<div class="row no-margin">
		<form class="navbar-search">
			<input type="text" class="search-query full" placeholder="Search Contacts">
		</form>
	</div>
	<div class="row">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<p class="panel-title">
						<a data-toggle="collapse" href="#recent_contacts_dropdown" role="button" aria-expanded="true" aria-controls="collapseExample">Recently Contacted</a>
					</p>
				</div>
				{% if have_messaged %}
				<div id="recent_contacts_dropdown" class="collapse in">
					<ul class="list-group">
						{% for message in have_messaged %}
						<a href="{% url 'messages' %}">
							<li class="list-group-item">
								{{ message.full_name }}
							</li>
						</a>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<p class="panel-title">
						<a data-toggle="collapse" href="#classmates_dropdown" role="button" aria-expanded="true" aria-controls="collapseExample">Other Classmates</a>
					</p>
				</div>
				{% if other_classmates %}
				<div id="classmates_dropdown" class="collapse in">
					<ul class="list-group">
						{% for classmate in other_classmates %}
						<li class="list-group-item"><a href="{% url 'friendprofile' classmate.pk %}">{{ classmate.full_name }}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}