body {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}


.jumbotron .container {
  max-width: 50rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%;
}

.profile-title {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}

.empty-card {
  width:25%;
  /*content: 'Empty';*/
}

.class-card {
  font-size: 20px;
  border-radius: 4px;
  border-style: solid;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.class-list-title {
  text-align: center;
  font-size: 30px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
